.headerbar {
  display: block;
  width: 100%;
  position: fixed;
  top: 0px;
  padding: 10px 0px;
  z-index: 99;
  background: rgba(0, 0, 0, 0.1);
  .wrapper {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .mainhead {
      display: block;
      img {
        width: 120px;
        height: 30px;
      }
    }
    .iconbar {
      display: flex;
      align-items: center;
      gap: 20px;
      i {
        font-size: 18px;
        color: #fff;
      }
    }
    .shareicon {
      display: none;
      i {
        font-size: 20px;
        color: #fff;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .headerbar {
    width: 100%;
    padding: 10px 10px;
    box-sizing: border-box;
    .wrapper {
      width: 100%;
      .mainhead {
      }
      .iconbar {
        display: none;
      }
      .shareicon {
        display: block;
      }
    }
  }
}
