.Sriramji {
  width: 100%;
  .fifthvideodata {
    position: relative;
    width: 100%;
    .rosevideo {
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
    }
    .prashadvideo {
      position: absolute;
      bottom: 60px;
      height: 100%;
      width: 100%;
    }
    .prashadbar {
      width: 100%;
      bottom: 20px;
      left: 50%;
      align-items: center;
      justify-content: center;
      display: flex;
      position: absolute;
      transform: translateX(-50%);
      z-index: 99;
      .dataanimation {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        position: relative;
        bottom: 30px;
        .mainflower {
          cursor: pointer;
          display: block;
          padding: 0;
          margin: 0;
          text-align: center;
          span {
            display: block;
            left: 50%;
            position: relative;
            transform: translateX(-50%);
            .img3 {
              width: 100px;
            }
          }
          h2 {
            font-size: 15px;
            color: #fff;
            padding: 0;
            margin: 0;
          }
        }
      }
      .overlaybar {
        position: absolute;
        background: rgba(0, 0, 0, 0.2);
        width: 100%;
        height: 220px;
        bottom: -15px;
      }
      .databar {
        bottom: 30px;
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        position: relative;
        p {
          cursor: pointer;
          display: block;
          padding: 0;
          margin: 0;
          span {
            display: block;
            left: 50%;
            position: relative;
            transform: translateX(-50%);
            .img1 {
              width: 130px;
              animation: rotate 5s linear infinite;
              @keyframes rotate {
                0% {
                  transform: rotate(0deg);
                }
                100% {
                  transform: rotate(360deg);
                }
              }
            }

            .img2 {
              left: 50%;
              position: absolute;
              top: 50%;
              transform: translate(-50%, -50%);
              width: 100px;
            }
          }
          h2 {
            font-size: 16px;
            color: #fff;
            font-weight: 600;
            padding: 0;
            margin: 0;
            text-align: center;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .Sriramji {
    width: 100%;
    .fifthvideodata {
      width: 100%;
      .prashadbar {
        width: 100%;
        bottom: 40px !important;
        .dataanimation {
          width: 100%;
          .mainflower {
            width: 100%;
            span {
              display: block;
              .img3 {
                width: 75px !important;
              }
            }
            h2 {
              font-size: 12px !important;
            }
          }
        }
        .overlaybar {
          height: 172px !important;
          bottom: -36px !important;
        }
        .databar {
          position: relative;

          p {
            width: 100%;
            position: relative;
            text-align: center;

            span {
              display: inline-block;
              position: relative;
              transform: translateX(-50%);
              margin: 0 auto;
              justify-content: center !important;
              .img1 {
                width: 82px !important;
              }

              .img2 {
                width: 70px !important;
              }
            }

            h2 {
              font-size: 12px !important;
            }
          }
        }
      }
      .rosevideo {
        display: block;
        width: 100%;
        position: relative;
        top: 0;
        bottom: 0;
        height: 100%;
        video {
          width: 100%;
          height: 100%;
        }
      }
      .prashadvideo {
        display: block;
        width: 100%;
        position: relative;
        bottom: 0px;
        height: 50%;
        video {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
